@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  background: #000;
  min-height: 100%;
  width: 100%;
}

body.not-loaded {
  overflow: hidden;
  height: 100%;
  height: 100%;
}

body.not-loaded #loading-overlay {
  background: rgba(255, 255, 255, 1);
  display: block;
  z-index: 1000;
  position: fixed;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#overlay-background.hidden, #overlay-contact.hidden, #overlay-testimonials.hidden {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

#overlay-background {
  background: rgba(0, 0, 0, .5);
  display: block;
  z-index: 1000;
  position: fixed;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#overlay-contact, #overlay-testimonials {
  position: fixed;
  z-index: 1001;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  display: block;
}

#overlay-contact {
  float: right;
  top: 35px;
  right: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(20, 2, 0, .7);
}

#overlay-contact, #overlay-contact a {
  color: #FFFFFF;
  font-size: 12pt;
  font-family: "Gill Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

#overlay-contact .left-column, #overlay-contact .center-column, #overlay-contact .right-column {
  display: block;
  float: left;
  width: 60px;
}

#overlay-contact .left-column {
  background: url("../img/contact-logos.png") center center no-repeat;
  height: 70px;
  display: block;
  float: left;
}

#overlay-contact .center-column {
  width: 300px;
  padding-top: 10px;
}

#overlay-contact .right-column {
  width: 30px;
  padding-top: 4px;
}

#overlay-contact .right-column a {
  cursor: pointer;
}

#overlay-contact .center-column a {
  padding-top: 10px;
  display: block;
}

#overlay-testimonials {
  max-width: 800px;
  width: 100%;
}

#overlay-testimonials .top-row {
  background: rgba(39, 4, 0, .93);
  padding: 8px 5% 8px 15%;

}

#overlay-testimonials .bottom-row {
  background: rgba(255, 255, 255, .93);
  padding: 8px 5% 8px 15%;
  display: block;

}

body.loaded #loading-overlay {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  display: none;
}

body #loading-overlay, #overlay-background, #overlay-testimonials, #overlay-contact {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#menu, #mobile-menu, .mobile-menu {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#scroll-position {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: white;
  border: 2px solid black;
  color: black;
  height: 30px;
  width: 200px;
  padding: 5px;
  z-index: 1001;
}

#white-row {
  background: white;
  margin: -200px 0 0 0;
  top: 50%;
  height: 400px;
  width: 100%;
  padding: 0;
  position: fixed;
}

#loading-overlay .centered {
  height: 400px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  color: #700F00;
}

#loading-overlay .centered, .down-arrow {
  text-align: center;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 12pt;
  text-transform: uppercase;
  font-weight: bold;
}

#loading-overlay a, #loading-overlay a:link {
  text-decoration: none;
  color: #700F00;
}

#loading-overlay .centered .row {
  padding-top: 10px;
}

#loading-overlay .centered .row.loading {
  text-transform: uppercase;
}

#loading-overlay .centered img {
  display: block;
  margin: 0 auto;
}

#top-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#small-logo-left {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  margin: 0;
  top: 8px;
  left: 8px;
  z-index: 2;
  position: absolute;
}

#menu {
  height: 40px;
  filter: alpha(opacity=100);
  opacity: 1;
  overflow: hidden;
}

.mobile-menu {
  background: url("../img/icons.svg") 6px 0 no-repeat, rgba(0, 0, 0, 0) 0 0;
  display: block;
  cursor: pointer;
  background-position: 6px -1632px, 0 0;
  height: 48px;
  width: 48px;
  line-height: 48px;
  padding: 12px;
  box-sizing: border-box;
  white-space: nowrap;
  right: 0;
  z-index: 2;
  position: absolute;
}

.mobile-menu span {
  display: none;
}

#mobile-menu, .mobile-menu {
  filter: alpha(opacity=0);
  opacity: 0;
}

#menu, #mobile-menu {
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: block;
  z-index: 1;
  box-sizing: border-box;
}

#menu {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .75);
}

#mobile-menu {
  position: absolute;
  padding-top: 48px;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  cursor: pointer;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

#mobile-menu.on {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#menu nav {
  float: right;
  width: 90%;
}

#menu nav ul, #menu nav ul li, #mobile-menu nav ul, #mobile-menu nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu nav ul {
  float: right;
}

#menu nav ul li, #mobile-menu nav ul li {
  padding: 4px 20px;
}

#menu nav ul li {
  float: left;
}

#menu nav ul li a, #mobile-menu nav ul li a {
  color: #FFFFFF;
  font-size: 12pt;
  font-family: "Gill Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 8px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

#mobile-menu nav ul li {
  text-align: center;
  width: 100%
}

#menu nav ul li a:hover {
  color: #AAAAAA;
}

.down-arrow {
  position: absolute;
  bottom: 10px;
  margin-left: -60px;
  left: 50%;
  z-index: 1;
}

.down-arrow span {
  display: block;
  height: 50px;
  width: 128px;
  overflow: hidden;
  background: url("../img/arrow.png") 0px -60px;
}

#container, .pages {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  display: block;
}

.pages {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-attachment: fixed;
}

.pages.intro {
  background-image: url("../img/intro-background.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/intro-background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/intro-background.jpg', sizingMethod='scale')";
}

.pages.welcome {
  background-image: url("../img/welcome-background.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/welcome-background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/welcome-background.jpg', sizingMethod='scale')";
}

.pages.wwd {
  background-position: top center;
  background-image: url("../img/wwd-background.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/wwd-background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/wwd-background.jpg', sizingMethod='scale')";
}

.pages.projects {
  background-image: url("../img/projects-background.jpg");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/projects-background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/projects-background.jpg', sizingMethod='scale')";
}

div.intro-logo {
  position: absolute;
  margin-top: -200px;
  top: 50%;
  max-height: 400px;
  width: 100%;
}

.welcome-title {
  padding-top: 80px;
  max-width: 640px;
}

.welcome-title img {
  max-width: 640px;
  height: auto;
  width: 100%;
}

.welcome-sub-title {
  background: rgba(112, 15, 0, .75);
  padding: 10px 0px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.welcome-sub-title p {
  text-transform: uppercase;
  color: #fcf5e7;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.welcome-copy {
  background: rgba(255, 255, 255, .75);
  padding: 20px 0px;
  display: block;
  width: 100%;
}

.welcome-copy .row {
  max-width: 1100px;
  margin: 0 auto;
}

.welcome-copy .left {
  max-width: 420px;
  width: 420px;
  float: left;
}

.welcome-copy .right {
  border-left: 2px solid #700f00;
  float: left;
  max-width: 600px;
  padding-left: 50px;
}

.wwd .row {
  padding-top: 400px;
  display: block;
  position: relative;
  max-width: 1100px;
  min-height: 270px;
}

.wwd .row .left, .wwd .row .right {
  position: relative;
  display: block;
  float: left
}

.wwd .row .left {
  background: rgba(255, 255, 255, .9);
  width: 60%;
  padding: 20px 5%;
  height: 100%;
}

.wwd .row .right {
  background: rgba(112, 15, 0, .5);
  width: 25%;
  padding: 0;
  margin-left: 5%;
  min-height: 230px;
  height: 100%;
}

.wwd .row .left .copy {
  padding: 0px 20px;
  border-left: #700F00 2px solid;
  display: block;
}

.testimonials, .testimonials a {
  cursor: pointer;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 12pt;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.testimonials a {
  padding-top: 90px;
}

.testimonials .launch span {
  font-size: 16pt;
  color: #FFFFFF;
}

.projects .top-gap {
  display: block;
  padding-top: 60px;
  content: " ";
}

.projects .row-outside {
  background: rgba(0, 0, 0, .3);
  padding: 15px 0 15px 0;
  margin: 20px 0;
  display: block;
  width: 100%;
}

.projects .row-inside {
  background: rgba(0, 0, 0, .4);
  width: 100%;
}

.projects .row-inside .copy {
  padding: 8px;
}

.projects .we-work-on {
  text-align: center;
  background: rgba(36, 14, 10, .85);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
}

.projects .we-work-on h3 {
  margin: 30px 0px;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 14pt;
  color: #FFFFFF;
  font-weight: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.projects .we-work-on-list {
  max-width: 960px;
  width: 100%;
  display: table;
  height: 110px;
  padding-bottom: 20px;
}

.projects .we-work-on-list .we-work-on-item {
  display: table-cell;
  vertical-align: middle;
  width: 19.5%;
  text-align: center;
  height: 100%;
  font-size: 10pt;
  font-family: "Gill Sans", Arial, sans-serif;
  letter-spacing: 4px;
  border: 2px solid black;
  background: rgba(25, 16, 2, .9);
  text-transform: uppercase;
  color: #F0EFEE;
}

.projects .we-work-on-list .we-work-on-item.first {
  border-left: 4px solid black;
}

.projects .we-work-on-list .we-work-on-item.last {
  border-right: 4px solid black;
}

.projects .we-work-on-list .we-work-on-item span {
  display: block;
}

.projects .header {
  padding: 30px 0;
}

.projects .copy, .projects .header {
  max-width: 600px;
  padding-bottom: 30px;
}

.projects .copy {
  max-width: 680px;
}

.projects .copy p {
  color: #C2C2C2;
  font-size: 12pt;
}

.projects .header img {
  height: auto;
  width: 100%;
}

img.responsive {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h3 {
  font-size: 18pt;
  color: #FFFFFF;
  font-weight: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 18pt;
}

h3, p {
  font-family: "Gill Sans", Arial, sans-serif;
}

p {
  font-size: 12pt;
}

p.title {
  color: #700F00;
  font-weight: bold;
}

.clear {
  clear: both;
}

.centered {
  margin: 0 auto;
  display: block;
}

.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}