@media all and (max-width: 1100px) {

}

@media all and (min-width: 1024px) {
	.desktop-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

@media all and (max-width: 1024px) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.welcome-copy {
		.left {
			display: none;
		}

		.right {
			border-left: 0px;
			max-width: 100%;
			margin: 0;
			padding: 0;
			width: 100%;
			float: none;
		}
	}

	.what-we-do {
		.row {
			padding-top: 0px;

			.left,
			.right {
				width: 100%;
				padding: 0px;
				height: 100%;
				padding: 0px;
				margin: 0px;
				float: none;
			}
		}
	}

	.welcome-copy-text,
	.what-we-do .row .left .copy {
		border-left: 0;
		padding: 20px;
	}
	.pages {
		background-attachment: scroll !important;
		&.what-we-do {
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/what-we-do-mobile-background.jpg', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/what-we-do-mobile-background.jpg', sizingMethod='scale')";
			background-image: url("../img/what-we-do-mobile-background.jpg");
			background-repeat: no-repeat;
			background-position: top center;
			background-attachment: scroll;
			background-attachment: fixed;
		}
	}
}

@media all and (max-width: 648px) {
	.projects .we-work-on-list {
		display: block;
		height: auto;

		.we-work-on-item {
			display: block;
			width: 90%;
			margin: 8px 0;
			padding: 8px 5%;

			ul li {
				margin: 0;
			}

			span {
				display: inline;
			}

			&.first {
				border-left: 0;
			}

			&.last {
				border-right: 0;
			}
		}
	}

	.responsive-mobile {
		width: 100% !important;
		max-width: 100% !important;
	}

}

@media all and (max-width: 860px) {

	.mobile-menu {
		filter: alpha(opacity=100);
		opacity: 1;
	}

	#menu {
		position: absolute;
		padding-top: 48px;
		z-index: 1;
		-webkit-transition: -webkit-transform 1s;
		transition: transform 1s;
		cursor: pointer;
		-ms-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		height: auto;

		nav ul li {
			text-align: center;
			width: 100%
		}

		&.on {
			-webkit-transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
			-ms-transform: translateX(0%);
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
		}
	}
}
